@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}
.container {
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left {
  width: 50vw;
  background: #21292f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
}

.right {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch {
  background: black;
  height: 50vh;
  width: 22vw;
  border-radius: 85px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.watchBack {
  position: absolute;
  background: #3b3b3b;
  height: 58vh;
  width: 22vw;
  border-radius: 105px;
  z-index: -1;
}

#timeS {
  align-self: flex-start;
  position: absolute;
  font-size: x-large;
}

.timeB {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xxx-large;
}

#day {
  font-weight: 600;
}

.icons {
  height: 6vh;
  width: 21vw;
  align-self: end;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}