*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-color: black;
}
.mainContainer{
    display: flex;
    height: 100%;
    padding: 20px 0px;
}
.leftContainer{
    width: 50%;
    background-color:rgb(43, 46, 56);
}
.title{
    position: relative;
    top: 40%;
    left: 30%;
    font-size: 3rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rightContainer{
    width: 50%;
    background-color: white;
}
.watch{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    height: 350px;
    width: 280px;
    top: 150px;
    left: 250px;
    background-color: black;
    border-radius: 20%;
    border-top: 25px solid rgb(66, 62, 62);
    border-bottom: 25px solid rgb(63, 57, 57);
}
.watch h4{
    text-align: center;
    margin-top: 10px;
}
.time{
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.time h1{
    font-size: 4rem;
}
.buttons{
    position: relative;
    top: 35%;
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
   
}
.far,.fas{
    color: white;
    font-size: 25px;
}
