
video {
    height: 50%;
    margin: 0 6px 20px 6px;
    vertical-align: top;
    width: 95%;
}

video:last-of-type {
    margin: 0 0 20px 0;
}

video#gumVideo {
    margin: 0 20px 20px 0;
}

@media (max-width: 500px) {
    button {
        font-size: 0.8em;
        width: calc(33% - 5px);
    }
}

/*@media (max-width: 720px) {*/
/*video {*/
/*height: calc((50vw - 48px) * 3 / 4);*/
/*margin: 0 10px 10px 0;*/
/*width: calc(50vw - 48px);*/
/*}*/

/*video#gumVideo {*/
/*margin: 0 10px 10px 0;*/
/*}*/
/*}*/
